*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#667eea,#764ba2);
    padding:20px;
}

.container{
    width:100%;
    max-width:600px;
}

.todo-box{
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
    margin-bottom:25px;
    color:#333;
}

.input-section{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

.input-section input{
    flex:1;
    padding:14px;
    border:2px solid #ddd;
    border-radius:10px;
    outline:none;
    font-size:16px;
}

.input-section input:focus{
    border-color:#667eea;
}

.input-section button{
    padding:14px 22px;
    border:none;
    background:#667eea;
    color:white;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}

.input-section button:hover{
    background:#4f63d9;
}

.stats{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
    font-weight:600;
    color:#555;
}

#taskList{
    list-style:none;
}

.task{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#f5f5f5;
    padding:14px;
    border-radius:12px;
    margin-bottom:12px;
}

.task-left{
    display:flex;
    align-items:center;
    gap:10px;
}

.task.completed span{
    text-decoration:line-through;
    color:gray;
}

.delete-btn{
    background:#ff4d4d;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
}

.delete-btn:hover{
    background:#e60000;
}

@media(max-width:500px){

    .input-section{
        flex-direction:column;
    }

    .stats{
        flex-direction:column;
        gap:10px;
    }
}